<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="run_as_root" translate="label" sortOrder="9999">
            <label>run_as_root</label>
        </tab>
        <section id="run_as_root_product_priority" translate="label" type="text" sortOrder="5" showInStore="1"
                 showInDefault="1" showInWebsite="1">
            <label>Product Priorities</label>
            <tab>run_as_root</tab>
            <resource>RunAsRoot_ProductPriorities::config</resource>
            <group id="general" translate="label" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                <label>General</label>
                <field id="enabled"
                       translate="label"
                       type="select"
                       sortOrder="1"
                       showInDefault="1"
                       showInStore="1"
                       showInWebsite="1">
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <label>Enable</label>
                </field>

                <field id="from_date"
                       translate="label"
                       type="date"
                       sortOrder="1"
                       showInDefault="1"
                       showInStore="1"
                       showInWebsite="1">
                    <frontend_model>RunAsRoot\ProductPriorities\Block\Adminhtml\System\Config\Form\Field\Date</frontend_model>
                    <label>From Date</label>
                </field>
            </group>
        </section>
    </system>
</config>
